@{
  Layout = "_Layout";
}

@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
  <div id="account" class="full-size">
    <div class="account-info">
     <p>Hello @Model.FirstName!</p>
     <p>House: @Model.House</p>
      @using (Html.BeginForm("LogOff", "Account"))
      {
        <input type="submit" class ="btn btn-dark" value="Log out" />
      }
    </div>
  </div>
}
else
{
  <button class="btn-dark">@Html.ActionLink("Register", "Register")</button>
  <button class="btn-dark">@Html.ActionLink("Log in", "Login")</button>
}