@{
  Layout = "_Layout";
}

@using Hogwarts.ViewModels

@model LoginViewModel

<h2>Log in With Your Account</h2>
<hr />
@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.PasswordFor(m => m.Password)

  <input type="submit" value="Log In" class="btn btn-dark" />
}