<img class="letter-logo" src="~/img/hogwarts_bw.png">
<p>Dear @ViewBag.ThisStudent.Title @ViewBag.ThisStudent.LastName</p>
<p>&emsp;&emsp;We are pleased to inform you that you have been accepted at Hogwarts School of Witchcraft and Wizardy.</p>
<p>Please find enclosed a lost of all necessary books and equipment</p>
<p>Term begins on September 1st. We await your owl by no later than July 31st.</p>
<p>Yours sincerely,</p>
<p class="signature">M.McGonagall</p>
<p>Professor McGonagall</p>
<p class="letter-footer">HOGWARTS SCHOOL of WITCHCRAFT & WIZARDRY<br>Headmaster: Albus Dumbledore<br>(Order of Merlin, First Class, Grand Sorc., Chf. Warlock, Supreme Mugwump, International Confed. of Wizards)</p>
<button type="button" id="open-shopping-list">Shopping List</button>
