<div class="modal fade text-dark" id="largeNoticeModal" tabindex="-1" aria-labelledby="largeNoticeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content ">
    <div class="modal-body bg-corkboard">
      <div class="notice-header">
        <h2>@ViewBag.ThisStudent.House Notice Board</h2>
      </div>
      <div class="notices">
        <div class="notice">
          <h3>Prisoner breaks out of Azkaban</h3>
          <h6>Sirius Black still at large</h6>
          <p>Hogwarts to increase security, but students are to be on alert! Please be aware of dementors on the grounds.</p>
        </div>
        <div class="notice">
          <h3>Quidditch Tryouts Coming Up!</h3>
          <p>For second years and above, Quidditch tryouts begin next week! See your house team captain for details on signing up.</p>
        </div>
        <div class="notice">
          <h3>Ghost comes back to life</h3>
          <p>Headmaster to address tomorrow at dinner</p>
        </div>
        <div class="notice">
          <h3>Bathroom flooded</h3>
          <p>Students are reminded to please refrain from upsetting Moaning Myrtle</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

