<div class="px-5 mb-5 text-center min-vh-25">
  <h2 class="handwriting">@ViewBag.ThisStudent.House</h2>
  <h2 class="handwriting">Notice Board</h2>
</div>



<div class="row">
  <div class="col-md-5 col-xs-12">
    <div class="card">
      <div class="card-header  bg-dark text-white">
        <h3>Prisoner breaks out of Azkaban</h3>
        <h6>Sirius Black still at large</h6>
      </div>
      <div class="card-body">
        <div class="card-text fs-5">
          Hogwarts to increase security, but students are to be on alert! Please be aware of dementors on the grounds.
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-12">
  </div>
  <div class="col-md-5 col-xs-12">
    <div class="card">
      <div class="card-header bg-dark text-white">
        <h3>Quidditch Tryouts Coming Up!</h3>
      </div>
      <div class="card-body">
        <div class="card-text fs-5">
          For second years and above, Quidditch tryouts begin next week! See your house team captain for details on signing up.
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mt-5">
  <div class="col-md-4 col-xs-12">
    <div class="card">
      <div class="card-header  bg-dark text-white">
        <h3>Ghost comes back to life</h3>
      </div>
      <div class="card-body">
        <div class="card-text fs-5">
          Headmaster to address tomorrow at dinner
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-xs-12">
  </div>
  <div class="col-md-7 col-xs-12">
    <div class="card">
      <div class="card-header bg-dark text-white">
        <h3>Bathroom flooded</h3>
      </div>
      <div class="card-body">
        <div class="card-text fs-5">
          Students are reminded to please refrain from upsetting Moaning Myrtle
        </div>
      </div>
    </div>
  </div>
</div>
