<img src="~/img/hogwarts_bw.png">
<h3>Uniform</h3>
<p>First-year students will require:</p>
<p>&emsp;&emsp;Three sets of plain work robes (black)</p>
<p>&emsp;&emsp;One plain pointed hat (black) for day wear</p>
<p>&emsp;&emsp;One pair of protective gloves (dragon hide or similar)</p>
<p>&emsp;&emsp;One winter cloak (black, with silver fastenings)</p>
<p>Please note that all pupil's clothes should carry name tags.</p>
<h3>Books</h3>
<p>All students should have a copy of each of the following:</p>
<p>&emsp;&emsp;The Standard Book of Spells (Grade 1) by Miranda Goshawk</p>
<p>&emsp;&emsp;A History of Magic by Bathilda Bagshot</p>
<p>&emsp;&emsp;Magical Theory by Adalbert Waffling</p>
<p>&emsp;&emsp;A Beginner's Guide to Transfiguration by Emeric Switch</p>
<p>&emsp;&emsp;One Thousand Magical Herbs and Fungi by Phyllida Spore</p>
<p>&emsp;&emsp;Magical Drafts and Potions by Arsenius Jigger</p>
<p>&emsp;&emsp;Fantastic Beasts and Where to Find Them by Newt Scamander</p>
<p>&emsp;&emsp;The Dark Forces: A Guide to Self-Protection by Quentin Trimble</p>
<h3>Other Equipment</h3>
<p>&emsp;&emsp;1 wand</p>
<p>&emsp;&emsp;1 cauldron (pewter, standard size 2)</p>
<p>&emsp;&emsp;1 set glass or crystal phials</p>
<p>&emsp;&emsp;1 telescope</p>
<p>&emsp;&emsp;1 set brass scales</p>
<p>&emsp;&emsp;Students may also bring, if they desire, an Owl OR a Cat OR a Toad.</p>
<p class="center">PARENTS ARE REMINDED THAT FIRST YEARS ARE NOT ALLOWED THEIR OWN BROOMSTICK</p>
<p class="letter-footer">HOGWARTS SCHOOL of WITCHCRAFT & WIZARDRY<br>Headmaster: Albus Dumbledore<br>(Order of Merlin, First Class, Grand Sorc., Chf. Warlock, Supreme Mugwump, International Confed. of Wizards)</p>
<button type="button">@Html.ActionLink("Shop", "Index", "Shops")</button>
