<form id="sorting-quiz" class="hide">
  <div class="form-group">
    <p>What would you rather be?</p>
    <label>
      <input type="radio" name="1" value="g" checked>
      Trusted
    </label>
    <label>
      <input type="radio" name="1" value="s">
      Feared
    </label>
    <label>
      <input type="radio" name="1" value="h">
      Liked
    </label>
    <label>
      <input type="radio" name="1" value="r">
      Praised
    </label>
  </div>
  <div class="form-group">
    <p>What would you see in the Mirror of Erised?</p>
    <label>
      <input type="radio" name="2" value="s" checked>
      Myself, surrounded by riches.
    </label>
    <label>
      <input type="radio" name="2" value="h">
      Myself, surrounded by my loving family and friends.
    </label>
    <label>
      <input type="radio" name="2" value="r">
      Myself, knowledgable above all.
    </label>
    <label>
      <input type="radio" name="2" value="g">
      Myself, experiencing a marvellous adventure.
    </label>
  </div>
  <div class="form-group">
    <p>The first Quidditch match of the season is approaching, and you can't wait to get involved. What role are you playing?</p>
    <label>
      <input type="radio" name="3" value="s" checked>
      Beater. I like having all that power.
    </label>
    <label>
      <input type="radio" name="3" value="g">
      Seeker. I want the glory!
    </label>
    <label>
      <input type="radio" name="3" value="r">
      Chaser. I like to be involved, and work as part of the team.
    </label>
    <label>
      <input type="radio" name="3" value="h">
      I'll be in the crowd, making sure supporter morale is high!
    </label>
  </div>
  <div class="form-group">
    <p>You're allowed a pet at Hogwarts: an owl, a cat, or a toad. Which do you bring?</p>
    <label>
      <input type="radio" name="4" value="h" checked>
      Toad
    </label>
    <label>
      <input type="radio" name="4" value="g">
      Owl
    </label>
    <label>
      <input type="radio" name="4" value="r">
      Cat
    </label>
    <label>
      <input type="radio" name="4" value="s">
      Super poisonous angry toad
    </label>
  </div>
  <div class="form-group">
    <p>It's Saturday, you've finished your homework, and you have some free time. You decide to spend some time away from your common room. Where do you go?</p>
    <label>
      <input type="radio" name="5" value="s" checked>
      The Forbidden Forest
    </label>
    <label>
      <input type="radio" name="5" value="r">
      The Library
    </label>
    <label>
      <input type="radio" name="5" value="g">
      The Room of Requirement
    </label>
    <label>
      <input type="radio" name="5" value="h">
      The Lake
    </label>
  </div>
  <div class="form-group">
    <p>If you could make a potion that is going to guarantee you one thing, what would it be?</p>
    <label>
      <input type="radio" name="6" value="h" checked>
      Love
    </label>
    <label>
      <input type="radio" name="6" value="g">
      Glory
    </label>
    <label>
      <input type="radio" name="6" value="s">
      Power
    </label>
    <label>
      <input type="radio" name="6" value="r">
      Knowledge
    </label>
  </div>
  <div class="form-group">
    <p>You are approached by a Muggle who calls you a wizard. How would you react?</p>
    <label>
      <input type="radio" name="7" value="r" checked>
      Ask them to explain what they are talking about.
    </label>
    <label>
      <input type="radio" name="7" value="h">
      Agree and walk away.
    </label>
    <label>
      <input type="radio" name="7" value="s">
      Jinx them.
    </label>
    <label>
      <input type="radio" name="7" value="g">
      Modify their memory.
    </label>
  </div>
  <div class="form-group">
    <p>You're having trouble mastering a new spell, and you've decided to ask for help. Who do you go to?</p>
    <label>
      <input type="radio" name="8" value="h" checked>
      My professor
    </label>
    <label>
      <input type="radio" name="8" value="s">
      My house ghost
    </label>
    <label>
      <input type="radio" name="8" value="g">
      My smartest friend
    </label>
    <label>
      <input type="radio" name="8" value="r">
      The library
    </label>
  </div>
  <div class="form-group">
    <p>Choose a deathly Hallow:</p>
    <label>
      <input type="radio" name="9" value="s" checked>
      The Elder Wand
    </label>
    <label>
      <input type="radio" name="9" value="r">
      The Resurrection Stone
    </label>
    <label>
      <input type="radio" name="9" value="g">
      The Cloak of Inivisibilty
    </label>
    <label>
      <input type="radio" name="9" value="h">
      No thanks, those things are dangerous!
    </label>
  </div>
  <div class="form-group">
    <p>Which of these magical events would you most like to experience?</p>
    <label>
      <input type="radio" name="10" value="r" checked>
      The Triwizard Tournament
    </label>
    <label>
      <input type="radio" name="10" value="g">
      The Quidditch World Cup
    </label>
    <label>
      <input type="radio" name="10" value="s">
      Halloween at Hogwarts
    </label>
    <label>
      <input type="radio" name="10" value="h">
      Christmas at Hogwarts
    </label>
  </div>
  <div class="form-group">
    <p>We know that the Sorting Hat takes into account your preferences. So which Hogwarts house do you feel you identify with most closely?</p>
    <label>
      <input type="radio" name="11" value="g" checked>
      Gryffindor
    </label>
    <label>
      <input type="radio" name="11" value="h">
      Hufflepuff
    </label>
    <label>
      <input type="radio" name="11" value="r">
      Ravenclaw
    </label>
    <label>
      <input type="radio" name="11" value="s">
      Slytherin
    </label>
  </div>
  <div class="form-group">
    <button type="submit">Find Your House</button>
  </div>
</form>
