@{
  Layout = "_Layout";
}
@using Hogwarts.Models
@model Hogwarts.Models.Course

<div class="container p-5 border rounded-3">
@using (Html.BeginForm("Create", "Courses"))
{
  <div class="row text-white">
    <div class="col-7">
      <label for="Title" class="mt-3">What is the Course Name?</label>
      @Html.TextBoxFor(model => model.CourseName, new {@class="form-control shadow-sm", required="required"})

      <label for="Year" class="mt-3">What is the Course Number?</label>
      @Html.TextBoxFor(model => model.CourseNum, new {@class="form-control shadow-sm", required="required"})
    </div>
    <div class="col-5">
    </div>
  </div>
  <button type="submit" class="btn btn-light mt-3">Add a Course</button>
}
</div>