@{
  Layout = "_Layout";
}

@model Hogwarts.Models.Teacher

<h2>Are you sure you want to sack this teacher?</h2>

@Html.DisplayNameFor(model => model.FirstName): @Html.DisplayFor(model => model.FirstName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Teacher List", "Index")