@{
  Layout = "_Layout";
}

@model Hogwarts.Models.Teacher

<h2>Professor Details</h2>
<h4>First Name: @Html.DisplayFor(model => model.FirstName)</h4>
<h4>Last Name: @Html.DisplayFor(model => model.LastName)</h4>
<h4>House: @Html.DisplayFor(model => model.House)</h4>
<h4>Course Taught: @Html.DisplayFor(model => model.CourseName)</h4>
