@{
  Layout = "_Layout";
}

@model Hogwarts.Models.Student

<h2>Are you sure you want to delete this student from the directory?</h2>

@Html.DisplayNameFor(model => model.FirstName): @Html.DisplayFor(model => model.FirstName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Student List", "Index")