@{
  Layout = "_Layout";
}

@using Hogwarts.Models;
@model List<Hogwarts.Models.Student>;

<h1>Students</h1>
<div style="margin: auto; padding: 2em;">
  <ul>
    @foreach(Student student in Model)
    {
      <li>@Html.ActionLink($"{student.FirstName}", "Details", new { id = student.StudentId })</li>
    }
  </ul>
</div>

<p class="btn btn-info">@Html.ActionLink("Add new student", "Create")</p>
<p class="btn btn-info">@Html.ActionLink("Home", "Index", "Home")</p>