@{
  Layout = "_Layout";
}
<div id="ollivanders" class="full-size">
  <div class="container">
    <div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
      <h1 style="text-align: center;">Welcome to Ollivanders</h1>
      <small style="text-align: center;">Makers of magic wands since 1865</small>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        // enter wand quiz to trigger modal
        <button type="button" calss="btn btn-secondary" id="showWand">see results</button>
      </div>
      <script>
        function showWandDetails(wandId) {
          $("#showWand").click(function() {
            $.ajax({
            type: "GET",
            url: '../AlleyShops/Wands/Details',
            data: { 'id': wandId },
            success: function (result) {
              $("#wandImage").attr("src", result.thisWand.$values[0].imageUrl);
              $("#wandName").text(result.thisWand.$values[0].name);
              $("#wandWood").text(result.thisWand.$values[0].wood);
              $("#woodHeart").text(result.thisWand.$values[0].heart);
              $("#wandId").val(result.thisWand.$values[0].wandId);
              $("#detailsCard").show();
              },
              error: function (httpObj) {
                if (httpObj.status == 401) {
                  alert("you aren't yet logged in");
                } else {
                  alert("Error while getting wand details");
                }
              }
            });
          });
        }
      </script>
      <div class="col-md-6 col-sm-12">
        <div class="card" id="detailsCard" style="display:none;">
            <img src="" id="wandImage" class="card-img-top" alt="magic wand">
          <div class="card-body">
            <div class="card-text text-dark text-center">
              <h5 class="card-title"  id="WandName">wand name</h5>
              <p class="card-text">Wood: <span id="WandWood"></span></p>
              <br>
              <p class="card-text">Heart: <span id="WandHeart"></span></p>
              <br>
              <p class="card-text">Length: <span id="WandLength"></span></p>
              <input type="hidden" id="wandId">
              <button class="btn btn-dark" type="button" id="acceptWand">accept wand</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>