<div id="apothecary" class="full-size">
  <audio autoplay controls hidden>
    <source src="~/audio/shopdoor.mp3" type="audio/mp3">
  </audio>
  <audio id="register">
    <source src="~/audio/cashreg.wav" type="audio/mp3">
  </audio>
  <script>
    function play() {
      let soundclick = document.getElementById("register");
      soundclick.play();
    }
  </script>
  <div class="container p-5 text-center" style="background-color: #2125299e!important;">
    <div class="h-100 p-5 text-white text-center">
      <h1 style="text-align: center;">Welcome to Mr. Mulpepper's Apothecary</h1>
      <small style="text-align: center;">Potion Accoutrements:</small>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="~/img/potions/My_project_3.png" style="height:350px" alt="...">
          <form method="Post" action="/Students/BuyPhials">
            <button onclick="play()" class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
            <input type="hidden" name="phials" value="img/potions/My_project_3.png">
          </form>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="~/img/potions/vials3.png" style="height:350px" alt="...">
          <form method="Post" action="/Students/BuyPhials">
            <button onclick="play()" class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
            <input type="hidden" name="phials" value="img/potions/vials3.png">
          </form>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
