<div class="container bg-dark p-5 text-center">
  <div class="h-100 p-5 text-white text-center">
    <h1 style="text-align: center;">Welcome to Potage's Cauldron Shop</h1>
    <small style="text-align: center;">Cauldrons - All Sizes - Copper, Brass, Pewter, Silver, Self-Stirring, Collapsible</small>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="~/img/shopping_items/cauldron1.png" style="height:350px;" alt="...">
        <form method="Post" action="/Students/SelectRobe">
          <button class="btn px-5 pt-2 text-dark fs-1 mt-5">SELECT</button>
          <input type="hidden" value="img/shopping_items/cauldron1.png">
        </form>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="~/img/shopping_items/cauldron2.png" style="height:350px;" alt="...">
        <form method="Post" action="/Students/SelectRobe">
          <button class="btn px-5 pt-2 text-dark fs-1 mt-5">SELECT</button>
          <input type="hidden" value="img/shopping_items/cauldron1.png">
        </form>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
