<div class="container bg-dark p-5 text-center">
  <h1 class="display-1" style="margin-top: 6rem!important;">Animals</h1>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="~/img/robes/gryffRobes.png" class="d-block w-100" alt="...">
        <form method="Post" action="/Students/SelectRobe">
          <button class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
          <input type="hidden" value="img/robes/gryffRobes.png">
        </form>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="~/img/robes/slythRobes.png" class="d-block w-100" alt="...">
        <form method="Post" action="/Students/SelectRobe">
          <button class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
          <input type="hidden" value="img/robes/slythRobes.png">
        </form>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="~/img/robes/huffRobes.png" class="d-block w-100" alt="...">
        <form method="Post" action="/Students/SelectRobe">
          <button class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
          <input type="hidden" value="img/robes/huffRobes.png">
        </form>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="~/img/robes/ravenRobes.png" class="d-block w-100" alt="...">
        <form method="Post" action="/Students/SelectRobe">
          <button class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
          <input type="hidden" value="img/robes/ravenRobes.png">
        </form>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
