<div id="ollivanders" class="full-size">
  <!-- <audio autoplay controls hidden>
    <source src="~/audio/shopdoor.mp3" type="audio/mp3">
  </audio> -->
  <audio id="register">
    <source src="~/audio/cashreg.wav" type="audio/mp3">
  </audio>
  <script>
    function play() {
      let soundclick = document.getElementById("register");
      soundclick.play();
    }
  </script>
  <div class="container p-5 text-white text-center " style="background-color: #2125299e!important;">
    <div class="h-100 p-3 text-white text-center">
      <h1 class="text-center">Welcome to Ollivanders</h1>
      <p class="text-center fs-5">Makers of magic wands since 382 BC</p>
    </div>
    @if (ViewBag.Student.Wand != null)
    {

      <div class="row" id="wandAndDesc">
        <div class="col-sm-6 col-xs-12 text-end">
          <img src="@ViewBag.Student.WandURL" alt="my wand">
        </div>
        <div class="col-sm-6 col-xs-12 pt-5">
          <h2>@ViewBag.Student.Wand</h2>
        </div>
      </div>
      <h3 class="text-center mt-3" id="aleadyHaveToolsText">If you'd like, you may select different wand.</h3>
      <button id="showShop" type="button" class="btn px-5 pt-2 text-dark fs-3 mt-4">SELECT NEW?</button>
      <script>
        $("#showShop").click(function () {
          $("#displayShop").removeClass("d-none");
          $("#showShop").hide();
          $("#wandAndDesc").hide();
          $("#aleadyHaveToolsText").hide();
          $("#aleadyHaveTools").hide();
        });

      </script>
      @:<div id="displayShop" class="d-none">
    }
    else
    {
      @:<div id="displayShop">
    }
        <div class="row">
          <div class="col-md-12 fs-5">
            <button type="button" id="choose-wand" class="fs-5 fw-bold">Lets figure out what wand belongs to you</button>
            <form id="wand-quiz" class="hide">
              <div class="form-group">
                <p>You are in the market for a new wand. What is the ideal core for your new wand?</p>
                <label>
                  <input type="radio" name="1" value="a" checked>
                  Phoenix Feather
                </label>
                <label>
                  <input type="radio" name="1" value="b">
                  Dragon Heartstring
                </label>
                <label>
                  <input type="radio" name="1" value="d">
                  Unicorn Hair
                </label>
                <label>
                  <input type="radio" name="1" value="c">
                  Basilisk Horn
                </label>
              </div>
              <br>
              <div class="form-group">
                <p>Who is your favorite wand maker?</p>
                <label>
                  <input type="radio" name="2" value="a" checked>
                  Garrick Olivander
                </label>
                <label>
                  <input type="radio" name="2" value="b">
                  Mykew Gregorovitch
                </label>
                <label>
                  <input type="radio" name="2" value="c">
                  Violetta Beauvais
                </label>
                <label>
                  <input type="radio" name="2" value="d">
                  Salazar Slytherin
                </label>
              </div>
              <br>
              <div class="form-group">
                <p>You're locked in a duel with a skilled opponent. They fire an unknown spell at you, and you shout…</p>
                <label>
                  <input type="radio" name="3" value="a" checked>
                  Protego!
                </label>
                <label>
                  <input type="radio" name="3" value="b">
                  Crucio!
                </label>
                <label>
                  <input type="radio" name="3" value="c">
                  Expelliarmus!
                </label>
                <label>
                  <input type="radio" name="3" value="d">
                  Stupefy!
                </label>
              </div>
              <br>
              <div class="form-group">
                <p>If you could have a superpower, which would you choose?</p>
                <label>
                  <input type="radio" name="4" value="a" checked>
                  Read minds
                </label>
                <label>
                  <input type="radio" name="4" value="b">
                  Change your appearance
                </label>
                <label>
                  <input type="radio" name="4" value="c">
                  Super strength
                </label>
                <label>
                  <input type="radio" name="4" value="d">
                  Inivisibilty
                </label>
              </div>
              <br>
              <div class="form-group">
                <p>Out of the four potions, which are you most likely to use?</p>
                <label>
                  <input type="radio" name="5" value="a" checked>
                  Felix Felicis (Also known as Liquid Luck)
                </label>
                <label>
                  <input type="radio" name="5" value="b">
                  Polyjuice Potion (Transfiguration Potion)
                </label>
                <label>
                  <input type="radio" name="5" value="c">
                  Elixir of Life (Grants Immortality)
                </label>
                <label>
                  <input type="radio" name="5" value="d">
                  Veritaserum (Truth Potion)
                </label>
              </div>
              <br>
              <div class="form-group">
                <button type="submit" class="btn text-dark fs-3 mt-4">Find Out Your Wand</button>
              </div>
              <input type="hidden" id="studentId-hidden" value="@ViewBag.Student.StudentId">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="hide px-5 pb-5 text-white text-center" id="show-wand">
              <div class="d-flex justify-content-center pb-2">
                <img src="" id="wand-img-tag" alt="magic wand">
              </div>
              <h2 class="card-title" id="wand-description">wand description</h2>
              <button id="accept-wand" class="w-25 button text-dark" type="button"><a href="/Shops" class="fs-3 mt-3">Accept Wand</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="~/js/shops/wandQuiz.js"></script>
  </div>
