<form id="wand-quiz" class="hide">
  <div class="form-group">
    <p>You are in the market for a new wand. What is the ideal core for your new wand?</p>
    <label>
      <input type="radio" name="1" value="a" checked>
      Phoenix Feather
    </label>
    <label>
      <input type="radio" name="1" value="b">
      Dragon Heartstring
    </label>
    <label>
      <input type="radio" name="1" value="d">
      Unicorn Hair
    </label>
    <label>
      <input type="radio" name="1" value="c">
      Basilisk Horn
    </label>
  </div>
  <div class="form-group">
    <p>Who is your favorite wand maker?</p>
    <label>
      <input type="radio" name="2" value="a" checked>
      Garrick Olivander
    </label>
    <label>
      <input type="radio" name="2" value="b">
      Mykew Gregorovitch
    </label>
    <label>
      <input type="radio" name="2" value="c">
      Violetta Beauvais
    </label>
    <label>
      <input type="radio" name="2" value="d">
      Salazar Slytherin
    </label>
  </div>
  <div class="form-group">
    <p>You're locked in a duel with a skilled opponent. They fire an unknown spell at you, and you shout…</p>
    <label>
      <input type="radio" name="3" value="a" checked>
      Protego!
    </label>
    <label>
      <input type="radio" name="3" value="b">
      Crucio!
    </label>
    <label>
      <input type="radio" name="3" value="c">
      Expelliarmus!
    </label>
    <label>
      <input type="radio" name="3" value="d">
      Stupefy!
    </label>
  </div>
  <div class="form-group">
    <p>If you could have a superpower, which would you choose?</p>
    <label>
      <input type="radio" name="4" value="a" checked>
      Read minds
    </label>
    <label>
      <input type="radio" name="4" value="b">
      Change your appearance
    </label>
    <label>
      <input type="radio" name="4" value="c">
      Super strength
    </label>
    <label>
      <input type="radio" name="4" value="d">
      Inivisibilty
    </label>
  </div>
  <div class="form-group">
    <p>Out of the four potions, which are you most likely to use?</p>
    <label>
      <input type="radio" name="5" value="a" checked>
      Felix Felicis (Also known as Liquid Luck)
    </label>
    <label>
      <input type="radio" name="5" value="b">
      Polyjuice Potion (Transfiguration Potion)
    </label>
    <label>
      <input type="radio" name="5" value="c">
      Elixir of Life (Grants Immortality)
    </label>
    <label>
      <input type="radio" name="5" value="d">
      Veritaserum (Truth Potion) 
    </label>
  </div>
  <div class="form-group">
    <button type="submit">Find Out Your Wand</button>
  </div>
</form>