<div id="wiseacres" class="full-size">
  <!-- <audio autoplay controls hidden>
    <source src="~/audio/shopdoor.mp3" type="audio/mp3">
  </audio> -->
  <audio id="register">
    <source src="~/audio/cashreg.wav" type="audio/mp3">
  </audio>
  <script>
    function play() {
      let soundclick = document.getElementById("register");
      soundclick.play();
    }
  </script>
  <div class="container p-5 text-center" style="background-color: #2125299e!important;">
    <div class="h-100 p-5 text-white text-center">
      <h1 style="text-align: center;">Welcome to Wiseacre's Wizarding Equipment</h1>
      <small style="text-align: center;">One Stop Shop for all Your Socery Needs</small>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="~/img/shopping_items/My_project_8.png" style="height:350px;" alt="...">
          <form method="Post" action="/Students/BuyTools">
            <button onclick="play()" class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
            <input type="hidden" name="tools" value="img/shopping_items/My_project_8.png">
          </form>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="~/img/shopping_items/My_project_9.png" style="height:350px;" alt="...">
          <form method="Post" action="/Students/BuyTools">
            <button onclick="play()" class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
            <input type="hidden" name="tools" value="img/shopping_items/My_project_9.png">
          </form>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="~/img/shopping_items/My_project_10.png" style="height:350px;" alt="...">
          <form method="Post" action="/Students/BuyTools">
            <button onclick="play()" class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
            <input type="hidden" name="tools" value="img/shopping_items/My_project_10.png">
          </form>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="~/img/shopping_items/My_project_11.png" style="height:350px;" alt="...">
          <form method="Post" action="/Students/BuyScale">
            <button onclick="play()" class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
            <input type="hidden" name="tools" value="img/shopping_items/My_project_11.png">
          </form>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="~/img/shopping_items/My_project_12.png" style="height:350px;" alt="...">
          <form method="Post" action="/Students/BuyScale">
            <button onclick="play()" class="btn px-5 pt-2 text-dark fs-1">SELECT</button>
            <input type="hidden" name="tools" value="img/shopping_items/My_project_12.png">
          </form>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
