
<div id="map-wrapper">
    <img src="~/img/shops/alley-map-fixed.png" usemap="#image-map">

    <map name="image-map">
        <area target="" alt="Ollivander's Wand Shop" title="Ollivander's Wand Shop" href="" coords="606,333,648,332,651,377,610,377" shape="poly">
        <area target="" alt="Magical Menagerie" title="Magical Menagerie" href="" coords="412,331,455,329,459,386,416,387" shape="poly">
        <area target="" alt="Potage's Cauldron Shop" title="Potage's Cauldron Shop" href="" coords="175,239,214,242,199,276,172,277" shape="poly">
        <area target="" alt="Mulpepper's Apothecary" title="Mulpepper's Apothecary" href="" coords="466,343,537,338,543,380,471,386" shape="poly">
        <area target="" alt="Madam Malkin's Robes" title="Madam Malkin's Robes" href="" coords="313,228,352,234,353,267,296,255" shape="poly">
        <area target="" alt="Scribbulus' Writing Instruments" title="Scribbulus' Writing Instruments" href="" coords="612,236,630,224,652,264,636,274,615,272" shape="poly">
        <area target="" alt="Flourish and Blott's Bookshop" title="Flourish and Blott's Bookshop" href="" coords="432,219,495,212,498,261,459,267" shape="poly">
        <area target="" alt="Wiseacre's Wizarding Equipment" title="Wiseacre's Wizarding Equipment" href="" coords="505,210,524,210,528,265,508,267" shape="poly">
        <area target="" alt="Eeylops's Owl Emporium" title="Eeylops's Owl Emporium" href="" coords="533,209,559,206,567,267,537,270" shape="poly">
        <area target="" alt="Quality Quidditch Supplies" title="Quality Quidditch Supplies" href="" coords="569,207,596,205,606,271,576,269" shape="poly">
    </map>
</div>
